html {
  font-size: 62.5%;
}

body {
  background-color: #e9edf1;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

header {
  padding: 2.5em;
  background-color: #dbe1e8;
}

.navbar,
.navbar ul,
.cart {
  display: flex;
  align-items: center;
}

.header-logo,
.navbar a,
.cart a {
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  gap: 4.3em;
}

.navbar a {
  font-size: 1.8rem;
  color: #000;
}

.navbar .active {
  font-weight: 900;
}

.header-logo:hover,
.menu-items a:hover {
  color: #0460bc;
}

.wrapper {
  justify-content: space-between;

  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  color: #0460bc;
  font-size: 2.2rem;
  font-weight: 900;
}

.cart {
  padding: 1rem;

  color: #000;
  background-color: #c3ccd7;
  gap: 1rem;

  border-radius: 0.4rem;
}

.cart:hover {
  color: inherit;
  background-color: #b5c0ce;
}

.cart p {
  margin: 0;
}
