html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #cbe1f1;
  font-family: 'Nunito';
  min-height: 100vh;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.avatar {
  display: flex;
  justify-content: space-between;

  padding: 1.1em 2.4em 1.1em 1.1em;

  width: 100%;
  max-width: 32.4rem;

  border-radius: 3.7rem;

  background-color: #fff;
}

.avatar__info {
  display: flex;
}

.avatar__info img {
  object-fit: cover;
  border-radius: 50%;
  height: 5.2rem;
  width: 5.2rem;
}

.avatar__info p {
  margin-left: 1em;

  font-size: 2rem;
  font-weight: 900;

  align-self: center;
}

.avatar__status {
  width: 2rem;
  height: 2rem;

  background-color: #5dbc3c;
  border-radius: 50%;

  align-self: center;
}
